<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <title>{{ page.title }}</title>
	<link rel="icon" href="imgs/favicon.ico">
	<link rel="stylesheet" href="css/html5reset.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li class ={{page.index}}><a href = "{{site.baseurl}}/"  >About</a></li>
				<li class = {{page.family}}><a href = "{{site.baseurl}}/family" >Family</a></li>
			</ul>
		</nav>
		 <h1>{{ page.title }}</h1>
	</header>
	<main>
		  {{ content }}
	</main>

	<footer>
		<p>Colleen van Lent &copy; 2020</p>
	</footer>
</body>
</html>
